// palette colors
$fuscous-gray:          #4c4d49;
$sycamore:              #94ae3f;
$dingley:               #68733F;
$cream:                 #fffed1;
$gordons-green:         #080803;
$ronchi:                #f0d555;
$fuscous-gray:          #4c4d4a;
$concrete:              #f3f3f3;

// ProgressBar component
$prgress-bar-border:            $cream;
$prgress-bar-background:        $fuscous-gray;
$prgress-bar-load:              linear-gradient($sycamore, $dingley);

// Button component
$button-border:                 $gordons-green;
$button-background:             $ronchi;
$button-shadow:                 $sycamore;

// Spinner component
$spinner-round:                 $concrete;
$spinner-spin:                  $fuscous-gray;

// Timer component
$timer-font:                    $concrete;