@import './constants/colors.scss';
html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  background: url("./assets/side-bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1062px;
  height: 100vh;
  background: url("./assets/background-screen.png") no-repeat center;
  background-size: 100% 100%;

  @media (max-width: 1062px) {
    width: 100%;
    background-size: 100vw 100vh;
  }
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 15px;
  width: 100%;
  height: 210px;
  z-index: 2;
  background: url("./assets/header.png") no-repeat 55%;
  background-size: contain;
}

.main {
  position: relative;
  box-sizing: border-box;
  padding-top: 55px;
  padding-bottom: 60px;
  padding-left: 55px;
  padding-right: 35px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  top: 18%;
  background: url("./assets/background.png") no-repeat center center;
  background-size: 100% 100%;

  @media (max-width: 1062px) {
    width: 100%;
  }
}
