@import './constants/colors.scss';
html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  background: url("./assets/side-bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1062px;
  height: 100vh;
  background: url("./assets/background-screen.png") no-repeat center;
  background-size: 100% 100%;

  @media (max-width: 1062px) {
    width: 100%;
    background-size: 100vw 100vh;
  }
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 15px;
  width: 100%;
  height: 210px;
  z-index: 2;
  background: url("./assets/header.png") no-repeat 55%;
  background-size: contain;
}

.timer {
  position: absolute;
  display: flex;
  width: 250px;
  padding-bottom: 35px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;

  &__column {
    text-align: center;
  }

  &__sign {
    display: block;
    min-width: 40px;
    font-size: 11px;
    line-height: 8px;
  }
}

.main {
  position: relative;
  box-sizing: border-box;
  padding-top: 55px;
  padding-bottom: 60px;
  padding-left: 55px;
  padding-right: 35px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  top: 18%;
  background: url("./assets/background.png") no-repeat center center;
  background-size: 100% 100%;

  @media (max-width: 1062px) {
    width: 100%;
  }
}

.task {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  height: 130px;

  &__avatar {
    padding-top: 5px;
    text-align: center;
  }

  &__descreption {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
  }
}

.descreption {
  width: 90%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
}

.avatar {
  width: 80px;
  transform: rotate(14deg);
}

.progress-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2.2rem;
  border: 2px solid $cream;
  background-color: $prgress-bar-background;
  border-radius: 1rem;


  &__load {
    box-sizing: border-box;
    width: 50%;
    height: 1.8rem;
    background: $prgress-bar-load;
    border-radius: 0.8rem;
  }
}

.button {
  box-sizing: border-box;
  height: 40px;
  border: 3px solid $button-border;
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.4px;
  background-color: $button-background;
  box-shadow: inset 0px 0px 15px 3px #9e8936;
  white-space: nowrap;
  cursor: pointer;
}